<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <mvc.renderRendering>
        <processor patch:before="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderRendering.AddWrapper, Sitecore.Mvc.ExperienceEditor']"
                    type="SitecoreHouse.Pipelines.AddToolTipToRenderings, SitecoreHouse" />
        <processor patch:after="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderRendering.AddWrapper, Sitecore.Mvc.ExperienceEditor']"
                    type="SitecoreHouse.Pipelines.AddToolTipToRenderings, SitecoreHouse" />
        <processor patch:instead="processor[@type='Sitecore.Mvc.ExperienceEditor.Pipelines.Response.RenderRendering.AddWrapper, Sitecore.Mvc.ExperienceEditor']"
                    type="SitecoreHouse.Pipelines.AddToolTipToEndOfRenderings, SitecoreHouse" />
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>
